<%- include("partials/header") -%>
<h1>Contact Us</h1>
<p>
    <ul>
        <li>E-mail : daily-journal@gmail.com</li>
        <li>Contact-No : 8957860776</li>
        <li>Address : C611, BH5, Lovely Professional University, Phagwara, Punjab, India</li>
    </ul>
</p>
<%- include("partials/footer") -%>